<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 水平表单</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form name=”form” method="post" action="/add">
<center>
    <table border="1px #00F solid" data-sort="sortDisabled">
        <tbody>
        <tr class="firstRow">
            <td valign="top" rowspan="1" colspan="2" width="349"><h4 style="text-align: center">增加标准信息</h4></td>
        </tr>
        <tr>
            <td width="164" valign="top" height="14">标准号</td>
            <td width="164" valign="top" height="14"><input type="text" name="stdnum"></td>
        </tr>
        <tr>
            <td width="164" valign="top" height="14">中文名称</td>
            <td width="164" valign="top" height="14"><input type="text" name="zhname"></td>
        </tr>
        <tr>
            <td width="164" valign="top" height="14">版本</td>
            <td width="164" valign="top" height="14"><input type="text" name="versions"></td>
        </tr>
        <tr>
            <td width="164" valign="top" height="14">关键字</td>
            <td width="164" valign="top" height="14"><input type="text" name="keys"></td>
        </tr>
        <tr>
            <td width="164" valign="top" height="14">发布日期</td>
            <td width="164" valign="top" height="14"><input type="text" name="releasedate"></td>
        </tr>
        <tr>
            <td width="164" valign="top" height="14">实施日期</td>
            <td width="164" valign="top" height="14"><input type="text" name="impldate"></td>
        </tr>
        <tr>
            <td width="164" valign="top" height="14">附件</td>
            <td width="164" valign="top" height="14"><input type="file" name=""></td>
        </tr>
        <tr class="firstRow">
            <td valign="top" rowspan="1" colspan="2" width="349"><button><input type="submit"></button>&nbsp;<button>取消</button></td>
        </tr>
        </tbody>
    </table>

</center>

</form>
</body>
</html>